@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* header section start */
header{
    background-image: linear-gradient(180.00deg,rgba(0, 0, 0, 0.95),rgb(48, 47, 47) 100%,rgba(0, 0, 0, 0.95));
}

.nav-container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* background-color: white; */
}

.nav-logo a{
    text-decoration: none;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}

.nav-bar{
    border: 1px solid gray;
    border-radius: 20px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar ul li{
    list-style-type: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.5s;
}

.nav-bar ul li:hover{
    background-color: rgb(230, 83, 60);
}

.nav-home{
    background-color: rgb(230, 83, 60);
    padding: 10px 15px;
    border-radius: 20px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.nav-icon{
    display: none;
}

.nav-icon i{
    color: white;
    font-size: 2rem;
}

.shape-span{
    font-family: 'Miama', sans-serif;
    font-size: 6rem;
    font-weight: 100;
}

.banner-container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-text-container{
    width: 500px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.banner-text h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 70px;
}

.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0;
}

.banner-text-btn{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-left: -210px;
}

.btn-1{
    padding: 10px 20px;
    background-color: rgb(230, 83, 60);
    border: 0;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-1:hover{
    background-color: rgb(159, 56, 41);
}

.banner-text-btn .btn-2{
    padding: 10px 20px;
    border: 0;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.banner-photo{
    height: 600px;
    width: 400px;
    position: relative;
    right: 50px;
}

.banner-photo img{
    height: 100%;
    width: 100%;
}

.banner-img-card1{
    position: absolute;
    top: 130px;
    right: -30px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.356);
}

.banner-img-card1 h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.banner-img-card1 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.banner-img-card2{
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 70px;
    position: absolute;
    right: 290px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.356);
}

.banner-img-card2 h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.banner-img-card2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.banner-img-card2-icon i{
    font-size: 3rem;
    color: rgb(230, 83, 60);
}
/* header section end */


/* habits-section start  */
.habits-section{
    background-color: black;
}

.habits-section-container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 70px 0;
}

.habits-text h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.habits-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;
    margin-bottom: 50px;
}

.habits-card-contaner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habits-card{
    height: 300px;
    width: 250px;
}

.habits-card-img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 100%;
}

.habits-card-img img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.habits-card h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

.habits-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
/* habits-section end  */

/* run-section start */
.run-section{
    background-color: black;
    padding-bottom: 70px;
}

.run-section-container{
    max-width: 1150px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
}

.run-text{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.run-text h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.run-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
}

.run-img{
    height: 300px;
    width: 500px;
    border-radius: 15px;
}

.run-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.run-text-btn{
    padding: 10px 50px;
    background-color: rgb(230, 83, 60);
    border: 0;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.run-text-btn:hover{
    background-color: rgb(159, 56, 41);
}
/* run-section end */

/* training-section start */
.training-section{
    background-color: black;
    padding-bottom: 70px;
}

.training-section-container{
    color: white;
    max-width: 1150px;
    margin: 0 auto;
}

.training-text h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.training-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
}

.training-img-container-1{
    display: flex;
}

.training-img-container-2{
    display: flex;
}

.training-img-1{
    height: 200px;
    width: 30%;
    background-image: url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
}

.training-img-h3{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 800;
    text-align: start;
    padding: 20px;
    margin-top: 130px;
}

.training-img-2{
    height: 200px;
    width: 40%;
    flex-grow: 3;
    background-image: url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.training-img-3{
    height: 200px;
    width: 30%;
    background-image: url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.training-img-4{
    height: 200px;
    width: 38%;
    background-image: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.training-img-5{
    height: 200px;
    width: 30%;
    background-image: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}

.training-img-6{
    height: 200px;
    width: 32%;
    background-image: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}
/* training-section end */